.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    --hover-color: #d3b062;
    --background-color: #ececec;
    // position: fixed;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: var(--background-color); 
    padding: 11px 0;
  }
  .nav_left {
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
   
      //Hamburger
      .hamburger-icon{
        display: none;
        align-items: center;
        width: 100%;
      }
        
  }
  .menu-toggle{
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
        display: inline-block;
        position: relative;
        text-align: center;
        margin-right: 0;
        vertical-align: top;
        padding: 8px 14px;
        color: #252525;
        &:hover {
          color: var(--hover-color);
          cursor: pointer;
          -webkit-transition: .08s all linear;
          -moz-transition: .08s all linear;
          -o-transition: .08s all linear;
          transition: .08s all linear;
          background-color: transparent;
        }

        a{
            transition: .08s all linear;
            border: none;
            font-weight: 400;
            letter-spacing: 1px;
            display: block;
            font-size: .75rem;
            line-height: 1.5;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            position: relative;           
        }

        .menu-item-link{

          &::after{
            top:-3px;
            position: relative;
            padding-left: 8px;
            content: '\f002';
            font-family: 'Genericons';
            line-height: 10px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 15px;
            vertical-align: sub;
            box-sizing: border-box;
          }       
        }
    }
  }


  .nav_right{
    
  }


    



  //responsive
  @media (max-width: 1024px){
    .nav-menu{
      display: none;
      width: 100%;
    }
    .hamburger-icon{
      display:block !important;
    }
    .nav_right{
      display: none;
    }
    .nav_left{
      width: 100%;
    }
  }
 