.content_wrapper {
  display: flex;
  gap: 65px;
  margin-bottom: 60px;

  @media (max-width: 786px) {
    flex-direction: column;
    align-items: center;
  }
}

.content_left {
  width: calc(67% - 10px);

  @media (max-width: 786px) {
    width: 100%;
  }
}

.content_right {
  width: calc(33% + 10px);

  @media (max-width: 786px) {
    width: 100%;
  }
}
