
.wrapper{
    gap:10px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.wrapper:hover{
    transform: scale(1.02);
    transition: ease-in-out 0.5s;
}
.wrapper h4{
    font-weight: bolder;
}
.hide{
    width: 200px;
    height: 200px;

}
.coverImage{
    width: 200px;
    height: 200px;
    transition: ease-in-out 0.3s;
}
.wrapper h4:hover{
    color:blue
}
.wrapper p{
    font-size: 10px;
}